<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[嘻嘻]</key>
	<string>image1.jpg</string>
	<key>[哈哈]</key>
	<string>image1.jpg</string>
	<key>[呼呼]</key>
	<string>image1.jpg</string>
	<key>[哭哭]</key>
	<string>image1.jpg</string>
	<key>[亲亲]</key>
	<string>image1.jpg</string>
	<key>[可怜]</key>
	<string>image1.jpg</string>
	<key>[可爱]</key>
	<string>image1.jpg</string>
	<key>[讨厌]</key>
	<string>image1.jpg</string>
	<key>[滚蛋]</key>
	<string>image1.jpg</string>
	<key>[拜拜]</key>
	<string>image1.jpg</string>
</dict>
</plist>
